html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0;
  display: inline-flex;
  justify-content: center;
}

#ConfigureMenu {
  width: 10vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

#MiddlePortion {
  display: inline-flex;
  flex-direction: column;

  #MediaDisplay {
    width: 80vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    border: 1px solid black;

    #MediaSettings {
      height: auto;
    }

    #VideoFrame {
      height: 100%;
    }
  }

  #JudgeClickerDir {
    width: 80vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
  }
}

#Player {
  width: 10vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: true;
  border: 1px solid black;

  input {
    width: 100%;
  }
}
