@font-face {
font-family: "iosevka";
src: url("assets/fonts/iosevka.ttf") format("ttf"),
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  font-family: iosevka, verdana, monospace;
}

body {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: #343a40;
  color: white;
}

#ColumnsContent {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;

  .column {
    height: 100vh;
    padding: 0.5rem;
  }
}
.gutter {
    background-color: #ffb900;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
}

.gutter.gutter-vertical {
    cursor: row-resize;
}

#ConfigureMenu {
  display: flex;
  flex-direction: column;

  input {
      width: 100%;
  }
}

#MiddlePortion {
  padding: 0;
  margin: 0;
  display: inline-flex;
  flex-direction: column;
  
  #MediaDisplay {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
  }
  
  #JudgeClickerDir {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-around;

    div {

      .ClickerSignContainer {
	p {
	  width: 50%;
	  display: inline-flex;
	  text-align: center;
	}
      }
      .ClickerButtonContainer {
	button {
	  width: 50%;
	  text-align: center;
	}
      }

    }
  }

}
  
#Player {
  display: flex;
  flex-direction: column;
  flex-wrap: true;
 
  input {
    width: 100%;
  }
}
