@font-face {
  font-family: "Iosevka";
  src: url("assets/fonts/iosevka.ttf") format("ttf");
}
@font-face {
  font-family: "Fantasque Sans Mono";
  src: url("assets/fonts/FantasqueSansMono-Regular.ttf") format("ttf");
}
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  box-sizing: border-box;
  font-family: "Fantasque Sans Mono", Iosevka;
}

body {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: #343a40;
  color: white;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.gutter {
  background-color: #fff;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
}

.gutter.gutter-vertical {
  cursor: row-resize;
}

input {
  outline: none;
  background-color: #343a40;
  color: white;
  border: 0.125rem solid #7a7a7a;
  border-radius: 0.25rem;
  height: 1.5em;
  margin: 0.25em 0;
}

input:focus {
  border: 0.15rem solid white;
  background-color: #6c757d;
}

input[type=button],
button {
  outline: none;
  background-color: #ffb900;
  color: black;
  border: 0.125rem solid #ffb900;
  border-radius: 0.25rem;
  margin: 0.25em 0;
}

input[type=button]:focus,
button:focus {
  border: 0.15rem solid black;
  box-shadow: 0 0 0 0.125em white;
}

#ColumnsContent {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}
#ColumnsContent .column {
  height: 100vh;
  padding: 0.5rem;
}

#ConfigureMenu {
  display: flex;
  flex-direction: column;
}
#ConfigureMenu * {
  width: 100%;
}
#ConfigureMenu #JudgeNames, #ConfigureMenu #JudgeKeys {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20%;
  border: 0.15em solid white;
  border-radius: 0.2em;
  padding: 0.5rem;
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
}
#ConfigureMenu #JudgeNames::-webkit-scrollbar {
  display: none;
}
#ConfigureMenu #JudgeKeys::-webkit-scrollbar {
  display: none;
}
#ConfigureMenu #JudgeKeys div input {
  display: inline-flex;
  flex-direction: row;
  width: 50%;
}
#ConfigureMenu #BottomMenu {
  margin-top: auto;
}
#ConfigureMenu #BottomMenu #ContainerToggleKey {
  background-color: #343a40;
  color: white;
}

#MiddlePortion {
  padding: 0;
  margin: 0;
  display: inline-flex;
  flex-direction: column;
}
#MiddlePortion #MediaSettings {
  height: auto;
}
#MiddlePortion #MediaDisplay {
  padding: 0.5em;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#MiddlePortion #MediaDisplay #VideoFrame {
  height: 100%;
}
#MiddlePortion #JudgeClickerDir {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-around;
}
#MiddlePortion #JudgeClickerDir div .ClickerSignContainer p {
  width: 50%;
  display: inline-flex;
  text-align: center;
}
#MiddlePortion #JudgeClickerDir div .ClickerButtonContainer button {
  width: 50%;
  text-align: center;
}

#Player {
  display: flex;
  flex-direction: column;
  flex-wrap: true;
}
#Player input {
  width: 100%;
}
#Player #PlayerMenu {
  margin-bottom: 0.25em;
}
#Player ul#PlayerList {
  border: 0.15em solid white;
  border-radius: 0.2em;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#Player ul#PlayerList li {
  margin-bottom: 0.2em;
  padding: 0;
}
#Player ul#PlayerList li p {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 1.5em;
  background-color: #6c757d;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#Player ul#PlayerList li .inlinescores {
  display: flex;
  flex-direction: row;
}
#Player ul#PlayerList li .inlinescores span {
  display: flex;
  flex-grow: 100;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#Player ul#PlayerList li .inlinescores button i {
  display: inline-flex;
  background-color: #343a40;
  color: white;
}
#Player ul#PlayerList li .inlinescores button {
  background-color: #343a40;
  border: 0px solid #343a40;
}
#Player ul#PlayerList li div div.judgescore {
  display: flex;
  justify-content: center;
  align-items: space-evenly;
}
#Player ul#PlayerList li div div.judgescore p {
  padding: 0.5em;
}
#Player ul#PlayerList li div div.judgescore p span {
  background-color: white;
  border: 0.125em solid white;
  border-radius: 0.2em;
  color: black;
  margin-left: auto;
}

/*# sourceMappingURL=clicker.css.map */
