@font-face {
    font-family: 'Iosevka';
    src: url('assets/fonts/iosevka.ttf') format('ttf');
}
@font-face {
    font-family: 'Fantasque Sans Mono';
    src: url('assets/fonts/FantasqueSansMono-Regular.ttf') format('ttf');
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    box-sizing: border-box;
    font-family: 'Fantasque Sans Mono', Iosevka;
}

body {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #343a40;
    color: white;
}
//Arrows
.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.gutter {
    background-color: #fff;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
}

.gutter.gutter-vertical {
    cursor: row-resize;
}

//Columns

input.allinput {
    outline: none;
    border: 0.125rem solid white;
    border-radius: 0.25rem;
    height: 1.5em;
    margin: 0.25em 0;
}

input.allinput:focus {
    border: 0.15rem solid #7a7a7a;
}

input[type='button'].allbutton,
button.allbutton {
    outline: none;
    background-color: #ffb900;
    color: black;
    border: 0.125rem solid #ffb900;
    border-radius: 0.25rem;
    margin: 0.25em 0;
}
input[type='button'].allbutton:focus,
button.allbutton:focus {
    border: 0.15rem solid black;
    box-shadow: 0 0 0 0.125em white;
}

#ColumnsContent {
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;

    .column {
        height: 100vh;
        padding: 0.5rem;
    }
}

#ConfigureMenu {
    display: flex;
    flex-direction: column;

    * {
        width: 100%;
    }

    label.menulabel {
        font-size: 1em;
    }

    #JudgeNames,
    #JudgeKeys {
        display: flex;
        flex-direction: column;
        align-items: center;

        height: 20%;
        border: 0.15rem solid white;
        border-radius: 0.2rem;
        padding: 0.5rem;
        overflow: scroll;
        overflow-x: hidden;
        -ms-overflow-style: none; /* Internet Explorer 10+ */
        scrollbar-width: none;
    }
    #JudgeNames::-webkit-scrollbar {
        display: none;
    }
    #JudgeKeys::-webkit-scrollbar {
        display: none;
    }

    #JudgeKeys {
        div {
            div {
                display: flex;
                justify-content: space-between;
                align-items: space-between;
                input {
                    display: inline-flex;
                    flex-direction: row;
                    width: 47.5%;
                }
            }
        }
    }

    #BottomMenu {
        margin-top: auto;
        #ContainerToggleKey {
            background-color: #343a40;
            color: white;
        }
        #ContainerToggleVisibility {
            background-color: #343a40;
            color: white;
        }
    }
}

#MiddlePortion {
    padding: 0;
    margin: 0;
    display: inline-flex;
    flex-direction: column;

    #MediaSettings {
        height: auto;
    }
    #MediaDisplay {
        padding: 0.5em;
        height: 100%;
        display: flex;
        flex-direction: column;

        #VideoFrame {
            height: 100%;
        }
    }

    #JudgeClickerDir {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: space-around;

        div {
            .ClickerSignContainer {
                p {
                    width: 50%;
                    display: inline-flex;
                    text-align: center;
                }
            }
            .ClickerButtonContainer {
                button {
                    width: 50%;
                    text-align: center;
                }
            }
        }
    }
}

#Player {
    display: flex;
    flex-direction: column;
    flex-wrap: true;

    input {
        width: 100%;
    }

    #PlayerMenu {
        margin-bottom: 0.25em;
    }

    ul#PlayerList {
        border: 0.15em solid white;
        border-radius: 0.2em;
        height: 100%;
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
            margin-bottom: 0.2em;
            padding: 0;
            .inlinenameandbutton {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                background-color: #ffb900;
                text-align: center;
                padding: 0.25em;
                p {
                    display: inline-flex;
                    color: black;
                    padding: 0;
                    margin: 0;
                }
                span {
                    display: inline-flex;
                    color: black;
                    cursor: pointer;
                    margin: 0;
                    padding: 0;
                }
            }

            .inlinescores {
                display: flex;
                flex-direction: row;
                background-color: #6c757d;
                span {
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    flex-grow: 100;
                    height: 100%;
                    background-color: #6c757d;
                }
                button {
                    height: 100%;
                    background-color: #6c757d;
                    margin: 0;
                    border: 0;
                    border-radius: 0;
                    i {
                        display: inline-flex;
                        background-color: #6c757d;
                        color: white;
                    }
                }
                button:focus {
                    border: 0;
                    box-shadow: 0 white;
                }
            }
            div div.judgescore {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 0.5em;
                margin: 0;
                border-bottom: 1px solid white;
                p {
                    display: flex;
                    color: white;
                    background-color: #343a40;
                    padding: 0;
                    margin: 0;
                }
                span {
                    display: flex;
                    background-color: white;
                    border-radius: 0.2em;
                    color: black;
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }
}
